body{
  font-family: 'Open Sans', sans-serif;
}
/* typo */
h1{
  font-size: 90px;
  font-weight: 600;
  color: #000;
}
h3{
  font-size: 45px;
  font-weight: 600;
  color: #000;
  margin: 25px 0;
}
h4{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.header__top{
  font-size: 10px;
}
.main__nav{
  text-transform: uppercase;
}
.btn__second__nav{
  font-size: 14px;
}
/* typo */
/* mix */
.container__banner{
  max-width: 900px;
  margin: auto;
}
.bg__grey{
  background-color: #fafafa;
}
.mb_30{
  margin-bottom: 30px;
}
/* mix */

/* btn */
.btn__second__nav,
.btn__second__nav:hover{
  background-color: #000;
  color: #fff;
}
.btn__ham{
  line-height: normal;
  background-color: transparent
}
/* btn */
/* header */
.header__top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
}
.header__top__img{
  height: 15px;
}
.header__top ul{
  margin-bottom: 0;
}
.main__nav,
.second__nav,
.main__nav li,
.second__nav li{
  display: inline-block;
  vertical-align: middle;
}
.main__nav li{
  margin-left: 25px;
}
.main__nav li a{
  color: #000;
}
.header__top a:hover,
.header__top a{
  text-decoration: none;
}
.lang{
  background-color: transparent;
  margin-right: 10px;
  border: none;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  color: #000;
  line-height: normal;
}
.header__jumbotron{
  margin-top: 80px;
  padding: 30px 0;
}
.header__jumbotron img{
  max-width: 100%;

}
/* /header */
/* main */
/* section banner */
#banner{
  position: relative;
}
.box__banner{
  padding-top: 200px;
}
.bg__banner{
  position: absolute;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
.box{
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
}
.box-left{
  left: calc(100% / 3) ;
}
.box-center{
  right: calc(100% / 3) ;
  vertical-align: bottom;
  padding-bottom: 150px;
}
.box-right{
  vertical-align: bottom;
  padding-left: 40px;
  padding-bottom: 150px;
}
.box-left img{
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 992px) {
  h1{
    font-size: 70px;
  }
  .box__banner{
    padding-left: 20px;
  }
  .box{
    width: 100%;
  }
  .box-left{
    text-align: center;
    left: 0;
  }
  .box-center{
    right: 0;
    padding-bottom: 0;
  }
  .box-right{
    padding: 0;
    padding-bottom: 0;
  }

}
/* section banner */
/* section plans */
#plans{
  padding-top: 30px;
}
.plans__box{
  position: relative;
  display: inline-block;
  width: 49%;
  padding: 25px;
}
.plans__left{
  left: 49%;
}
.plans__right{
  right: 49%;
}
.plans__logo{
  width: 60%;
}
.plans__box p{
  margin: 25px 0;
  font-size: 24px;
  color: #000;
}
.plans__box a,
.plans__box a:hover{
  color: #000;
  text-decoration: none;
}
.box__plans__small{
  padding: 50px 30px;
  height: 600px;
}
.box__plans__small img{
  width: 100%;
}
.small__left{
  background-color: #50c7f4;
}
.small__right{
  background-color: #ffd310;
}
@media screen and (max-width:1024px){
  .box__plans__small{
    padding: 50px 30px;
    height: 500px;
  }
}
@media screen and (max-width:992px) {
  .plans__box{
    width: 100%;
    padding: 25px;
  }
  .plans__left{
    left: 0;
  }
  .plans__right{
    right: 0;
  }
  .box__plans__small{
    padding: 50px 30px;
    height: 400px;
  }
}
@media screen and (max-width:768px){
  .box__plans__small{
    padding: 50px 30px;
    height: 350px;
  }
}
/* section plans */
/* /main */
